<div class="boardContainer container-fluid p-3 d-flex justify-content-center align-items-center" (dragstart)="noDrag($event)">
    <p class="playerTurn" [class.hidden]="playerTurnDisplayHidden">Tura {{playerTurnColor == 8 ? "białych" : "czarnych"}}</p>
    <div class="boardLayout" [class.grabbing]="selectedPiece">
        <table class="board" (mousemove)="getMouseCoordinates($event)">
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>

            <tr *ngFor="let row of board; index as y">
                <th>{{8-y}}</th>
                <td *ngFor="let tile of row" [id]="" (click)="attackPiece(tile)" (click)="castlingKing(tile)">
                    <div class="pieceContainer confined" *ngIf="tile.piece !== undefined">
                        <img class="piece" *ngIf="tile.piece !== undefined" src="{{tile.piece!.getUrl()}}" (click)="selectPiece(tile)">
                        <div class="availableMove" *ngIf="tile.availableMove"></div>
                    </div>
                    <div class="pieceContainer empty" *ngIf="tile.piece === undefined" (click)="placeSelectedPiece(tile)">
                        <div class="availableMove" *ngIf="tile.availableMove"></div>
                    </div>
                    <div class="highlight" *ngIf="tile.highlighted" [style.backgroundColor]="tile.highlightColor"></div>
                </td>
            </tr>

            <img class="selectedPiece" *ngIf="selectedPiece" src="{{selectedPiece.getUrl()}}" [style.left.px]="mouseLeft" [style.top.px]="mouseTop">
        </table>
    </div>
    <p class="playerTurn" [class.hidden]="playerTurnDisplayHidden">Tura {{playerTurnColor == 8 ? "białych" : "czarnych"}}</p>

    <div class="modal fade" id="promotionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Promocja {{playerTurnColor == 8 ? "białego" : "czarnego"}} pionka</h5>
            </div>
            <div class="modal-body mx-auto d-flex">
                <button type="button" class="btn m-2" data-bs-dismiss="modal" (click)="promotePiece(previousClickedTile, PIECETYPESTEMPLATE.KNIGHT)">
                    <img src="{{playerTurnColor == 8 ? '../../assets/pieces/knight-white.svg' : '../../assets/pieces/knight-black.svg'}}">
                </button>
                <button type="button" class="btn m-2" data-bs-dismiss="modal" (click)="promotePiece(previousClickedTile, PIECETYPESTEMPLATE.BISHOP)">
                    <img src="{{playerTurnColor == 8 ? '../../assets/pieces/bishop-white.svg' : '../../assets/pieces/bishop-black.svg'}}">
                </button>
                <button type="button" class="btn m-2" data-bs-dismiss="modal" (click)="promotePiece(previousClickedTile, PIECETYPESTEMPLATE.ROOK)">
                    <img src="{{playerTurnColor == 8 ? '../../assets/pieces/rook-white.svg' : '../../assets/pieces/rook-black.svg'}}">
                </button>
                <button type="button" class="btn m-2" data-bs-dismiss="modal" (click)="promotePiece(previousClickedTile, PIECETYPESTEMPLATE.QUEEN)">
                    <img src="{{playerTurnColor == 8 ? '../../assets/pieces/queen-white.svg' : '../../assets/pieces/queen-black.svg'}}">
                </button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="checkmateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Szach mat</h3>
            </div>
            <div class="modal-body mx-auto d-flex flex-column">
                <h1 class="display-5">Wygrał kolor {{playerTurnColor == 8 ? "czarny" : "biały"}}</h1>
                <button class="btn btn-success m-2" (click)="reloadPage()">Zagraj ponownie</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="tieModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Remis</h3>
            </div>
            <div class="modal-body mx-auto d-flex flex-column">
                <button class="btn btn-success m-2" (click)="reloadPage()">Zagraj ponownie</button>
            </div>
        </div>
        </div>
    </div>
</div>