.board {
    border-spacing: 0; border-collapse: collapse;
}
.board th {
    padding: .5em; text-align: center;
}
.board td {
    /* border: 1px solid; */
    width: 100px; height: 100px;
}

.board tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: rgba(119, 153,84, 1)
}
.board tr:nth-child(2n) td:nth-child(2n) {
    background-color: rgba(233, 237,204, 1);
}
.board tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: rgba(119, 153,84, 1);
}
.board tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color: rgba(233, 237,204, 1);
}

.piece {
    width: 100%;
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}