<div class="boardContainer container-fluid p-3 d-flex justify-content-center align-items-center">
    <div class="boardLayout">
        <table class="board">
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>

            <tr *ngFor="let row of board; index as i">
                <th>{{8-i}}</th>
                <td *ngFor="let piece of row" (click)="getPos()">
                    <img class="piece" *ngIf="piece" src="{{piece.getSVGUrl()}}">
                </td>
            </tr>
        </table>
    </div>
</div>