<div class="boardContainer container-fluid p-3 d-flex justify-content-center align-items-center">
    <div class="boardLayout" [class.grabbing]="selectedPiece">
        <table class="board" (mousemove)="getMouseCoordinates($event)">
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>

            <tr *ngFor="let row of board; index as y">
                <th>{{8-y}}</th>
                <td id="{{getBoardCoordinate(y, x)}}" *ngFor="let piece of row; index as x" (click)="placeSelectedPiece(y, x)">
                    <img class="piece" *ngIf="piece !== 0" src="{{getPieceSVGUrl(piece)}}" (click)="selectPiece(piece, y, x)">
                </td>
            </tr>

            <img class="selectedPiece" *ngIf="selectedPiece" src="{{getPieceSVGUrl(selectedPiece)}}" [style.left.px]="mouseLeft" [style.top.px]="mouseTop">
        </table>
    </div>
</div>