<div class="boardContainer container-fluid p-3 d-flex justify-content-center align-items-center">
    <p class="playerTurn">Tura {{playerTurnColor == 8 ? "białych" : "czarnych"}}</p>
    <div class="boardLayout" [class.grabbing]="selectedPiece">
        <table class="board" (mousemove)="getMouseCoordinates($event)">
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>

            <tr *ngFor="let row of board; index as y">
                <th>{{8-y}}</th>
                <td *ngFor="let tile of row" (click)="attackPiece(tile)">
                    <img class="piece" *ngIf="tile.piece !== undefined" src="{{tile.piece!.getUrl()}}" (click)="selectPiece(tile)">
                    <div class="pieceEmpty" *ngIf="tile.piece === undefined" (click)="placeSelectedPiece(tile)"></div>
                    <div class="highlight" *ngIf="tile.highlighted" [style.backgroundColor]="tile.highlightColor"></div>
                </td>
            </tr>

            <img class="selectedPiece" *ngIf="selectedPiece" src="{{selectedPiece.getUrl()}}" [style.left.px]="mouseLeft" [style.top.px]="mouseTop">
        </table>
    </div>
    <p class="playerTurn">Tura {{playerTurnColor == 8 ? "białych" : "czarnych"}}</p>
</div>